__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage

# Виртуальные окружения
.venv/
venv/
env/
ENV/

# Локальные переменные окружения (Пароли, ключи)
.env
.env.local
.env.*.local
.env.production.local
!.env.example
logs/
uploads/
htmlcov/
dist/
build/
*.egg-info/